#__next {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to left top, #ffffff, #f5f5f5, #eaeaea, #e0e0e0, #d6d6d6);
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
}

header {
    border-bottom: #333 solid 1px;
}

section {
    border: #444 dashed 2px;
    border-radius: 10px;
    background: #f6f6f6;
    padding: 20px;
    margin: 10px 0;
}

header h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

.container {
    display: flex;
}

.sidebar {
    padding: 10px;
    border-right: #333 solid 1px;
}

.content {
    padding: 10px;
}

.language-picker {
    padding-bottom: 10px;
}

.preview dl {
    margin-bottom: 20px;
}

.preview dt {
    width: 20%;
    float: left;
}

.preview dd {
    width: 80%;
    float: left;
}

.i18n-snippet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.i18n-snippet {
    flex-grow: 1;
    padding: 2px;
}

.tips ul {
    list-style: disc outside;
    margin-left: 15px;
}

.tips li {
    margin: 5px;
    line-height: 1.4em;
}

[data-selected-lang="en"] [data-lang="en"] {
    outline: 1px solid green;
}

[data-selected-lang="de"] [data-lang="de"] {
    outline: 1px solid green;
}

[data-selected-lang="ru"] [data-lang="ru"] {
    outline: 1px solid green;
}

code {
    color: #d00;
    background-color: #ddd;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
