#__next {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to left top, #ffffff, #f5f5f5, #eaeaea, #e0e0e0, #d6d6d6);
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
}

header {
    border-bottom: #333 solid 1px;
}

header h1 {
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    padding: 10px;
    border-right: #333 solid 1px;
}

.content {
    padding: 10px;
}

.language-picker {
    padding-bottom: 10px;
}

.preview {
    border: #444 dashed 2px;
    border-radius: 10px;
    background: #f6f6f6;
    padding: 20px;
}

.preview dl {
    margin-bottom: 20px;
}

.preview dt {
    width: 20%;
    float: left;
}

.preview dd {
    width: 80%;
    float: left;
}
